<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exercise_menu_20180140067_yusufjohankelana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KelilingTrapesiumActivity"></activity>
        <activity android:name=".LuasTrapesiumActivity" />
        <activity android:name=".KelilingSegitigaActivity" />
        <activity android:name=".LuasSegitigaActivity" />
        <activity android:name=".KelilingPersegiPanjangActivity" />
        <activity android:name=".LuasPersegiPanjangActivity" />
        <activity android:name=".KelilingLingkaranActivity" />
        <activity android:name=".LuasLingkaranActivity" />
        <activity android:name=".HalamanKelilingPersegiActivity" />
        <activity android:name=".HalamanLuasPersegiActivity" />
        <activity android:name=".HalamanKeduaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>